<a href="https://colab.research.google.com/github/dipesh261/AI-deep-vision-classifier/blob/main/ANN_MODEL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#IMPORTING THE LIBRARIES
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

#PREPROCESSSING LIBRARIES
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [ ]:
#DATA IMPORT
df = pd.read_csv('/content/Churn_Modelling.csv')
print(f'the data has {df.shape[0]} rows and {df.shape[1]} columns')

the data has 10000 rows and 14 columns

In [ ]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df.dtypes

RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [ ]:
#misisng values check
#df.isnull().sum()                  #count of missing in each attribute
round(df.isnull().mean()*100,2)  #percentage of missing value in each attribute

RowNumber          0.0
CustomerId         0.0
Surname            0.0
CreditScore        0.0
Geography          0.0
Gender             0.0
Age                0.0
Tenure             0.0
Balance            0.0
NumOfProducts      0.0
HasCrCard          0.0
IsActiveMember     0.0
EstimatedSalary    0.0
Exited             0.0
dtype: float64

In [ ]:
# spilt the data into independent and dependent
x = df.iloc[:, 3: -1]
y = df.iloc[:, 13]

In [ ]:
x

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [ ]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [ ]:
# one hot enconding
x = pd.get_dummies(x, drop_first=True,dtype="int")
x.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [ ]:
#train test split of the data
x_test, x_train, y_test, y_train = train_test_split(x, y, test_size=0.2, random_state=9999)

In [ ]:
#data scaling - normalization
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [ ]:
# Build ANN Architecture

#1. Initalize model as sequential (ANN)

#2. add layers (input, hidden, output) along with activation functions, weight istializee

#3. metrics, loss, optimizer

In [ ]:
# Importing required libraries for ANN

import keras
from keras.models import Sequential #ANN
from keras.layers import Dense

In [ ]:
#Building the ANN Acrchitecture

#FEED FORWARD MECHANISM #(Forward Propagation)

#intialize the model
model = Sequential()

# Building the Layers

#input Layer
model.add(Dense(units=11, kernel_initializer ='he_uniform',input_dim=11))
#unit: no.of.neurons

#first hidden Layer
model.add(Dense(units=8, activation ='relu', kernel_initializer='he_uniform'))

#second hidden Layer
model.add(Dense(units=6, activation ='relu', kernel_initializer ='he_uniform'))

#output Layer
model.add(Dense(units=1, activation='sigmoid'))

#sigmoid classification problem
# BACK PROPAGATION
model.compile(optimizer='SGD', loss='binary_crossentropy', metrics=['accuracy']);

In [ ]:
#ANN Summary
model.summary()

Model: "sequential"

â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”“
â”ƒ Layer (type)                    â”ƒ Output Shape           â”ƒ       Param # â”ƒ
â”¡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”©
â”‚ dense (Dense)                   â”‚ (None, 11)             â”‚           132 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_1 (Dense)                 â”‚ (None, 8)              â”‚            96 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_2 (Dense)                 â”‚ (None, 6)              â”‚            54 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_3 (Dense)                 â”‚ (None, 1)              â”‚             7 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

 Total params: 289 (1.13 KB)

 Trainable params: 289 (1.13 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
#FITTING THE DATA INSIDE THE NETWORK ARCHITECTURE
model_history = model.fit(x_test_scaled, y_test, validation_split=0.3, batch_size=10, epochs=50)

Epoch 1/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 5s 5ms/step - accuracy: 0.7034 - loss: 0.5745 - val_accuracy: 0.8100 - val_loss: 0.4456
Epoch 2/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8172 - loss: 0.4449 - val_accuracy: 0.8158 - val_loss: 0.4227
Epoch 3/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8138 - loss: 0.4328 - val_accuracy: 0.8238 - val_loss: 0.4036
Epoch 4/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - accuracy: 0.8256 - loss: 0.3995 - val_accuracy: 0.8325 - val_loss: 0.3914
Epoch 5/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8377 - loss: 0.3767 - val_accuracy: 0.8425 - val_loss: 0.3769
Epoch 6/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8423 - loss: 0.3797 - val_accuracy: 0.8487 - val_loss: 0.3654
Epoch 7/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8574 - loss: 0.3491 - val_accuracy: 0.8450 - val_loss: 0.3651
Epoch 8/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8605 - loss: 0.3450 - val_accuracy: 0.8496 - val_loss: 0.3574
Epoch 9/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8515 - loss: 0.3584 - val_accuracy: 0.8558 - val_loss: 0.3534
Epoch 10/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.8563 - loss: 0.3450 - val_accuracy: 0.8575 - val_loss: 0.3519
Epoch 11/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8602 - loss: 0.3458 - val_accuracy: 0.8546 - val_loss: 0.3513
Epoch 12/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8583 - loss: 0.3390 - val_accuracy: 0.8571 - val_loss: 0.3494
Epoch 13/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8604 - loss: 0.3435 - val_accuracy: 0.8546 - val_loss: 0.3571
Epoch 14/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.8599 - loss: 0.3407 - val_accuracy: 0.8583 - val_loss: 0.3474
Epoch 15/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 4ms/step - accuracy: 0.8640 - loss: 0.3393 - val_accuracy: 0.8571 - val_loss: 0.3510
Epoch 16/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8577 - loss: 0.3489 - val_accuracy: 0.8579 - val_loss: 0.3517
Epoch 17/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8631 - loss: 0.3288 - val_accuracy: 0.8604 - val_loss: 0.3447
Epoch 18/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.8682 - loss: 0.3276 - val_accuracy: 0.8575 - val_loss: 0.3545
Epoch 19/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.8598 - loss: 0.3497 - val_accuracy: 0.8604 - val_loss: 0.3470
Epoch 20/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 4ms/step - accuracy: 0.8596 - loss: 0.3400 - val_accuracy: 0.8587 - val_loss: 0.3502
Epoch 21/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 4ms/step - accuracy: 0.8676 - loss: 0.3233 - val_accuracy: 0.8596 - val_loss: 0.3492
Epoch 22/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8575 - loss: 0.3454 - val_accuracy: 0.8596 - val_loss: 0.3439
Epoch 23/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8691 - loss: 0.3249 - val_accuracy: 0.8571 - val_loss: 0.3538
Epoch 24/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8603 - loss: 0.3402 - val_accuracy: 0.8604 - val_loss: 0.3465
Epoch 25/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8526 - loss: 0.3507 - val_accuracy: 0.8604 - val_loss: 0.3450
Epoch 26/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8524 - loss: 0.3427 - val_accuracy: 0.8600 - val_loss: 0.3458
Epoch 27/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.8643 - loss: 0.3317 - val_accuracy: 0.8608 - val_loss: 0.3481
Epoch 28/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.8631 - loss: 0.3444 - val_accuracy: 0.8612 - val_loss: 0.3444
Epoch 29/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8613 - loss: 0.3386 - val_accuracy: 0.8575 - val_loss: 0.3422
Epoch 30/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8634 - loss: 0.3279 - val_accuracy: 0.8617 - val_loss: 0.3459
Epoch 31/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8630 - loss: 0.3437 - val_accuracy: 0.8558 - val_loss: 0.3493
Epoch 32/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - accuracy: 0.8574 - loss: 0.3351 - val_accuracy: 0.8629 - val_loss: 0.3467
Epoch 33/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8631 - loss: 0.3291 - val_accuracy: 0.8612 - val_loss: 0.3443
Epoch 34/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8702 - loss: 0.3259 - val_accuracy: 0.8550 - val_loss: 0.3500
Epoch 35/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8717 - loss: 0.3223 - val_accuracy: 0.8608 - val_loss: 0.3477
Epoch 36/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8653 - loss: 0.3278 - val_accuracy: 0.8612 - val_loss: 0.3453
Epoch 37/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8593 - loss: 0.3369 - val_accuracy: 0.8608 - val_loss: 0.3449
Epoch 38/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - accuracy: 0.8584 - loss: 0.3397 - val_accuracy: 0.8596 - val_loss: 0.3415
Epoch 39/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8655 - loss: 0.3259 - val_accuracy: 0.8562 - val_loss: 0.3462
Epoch 40/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8639 - loss: 0.3409 - val_accuracy: 0.8529 - val_loss: 0.3515
Epoch 41/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.8605 - loss: 0.3414 - val_accuracy: 0.8637 - val_loss: 0.3406
Epoch 42/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8637 - loss: 0.3382 - val_accuracy: 0.8637 - val_loss: 0.3403
Epoch 43/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 5ms/step - accuracy: 0.8567 - loss: 0.3325 - val_accuracy: 0.8637 - val_loss: 0.3392
Epoch 44/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 4s 3ms/step - accuracy: 0.8689 - loss: 0.3244 - val_accuracy: 0.8625 - val_loss: 0.3409
Epoch 45/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.8568 - loss: 0.3348 - val_accuracy: 0.8633 - val_loss: 0.3394
Epoch 46/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8734 - loss: 0.3200 - val_accuracy: 0.8629 - val_loss: 0.3420
Epoch 47/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - accuracy: 0.8634 - loss: 0.3325 - val_accuracy: 0.8646 - val_loss: 0.3403
Epoch 48/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8654 - loss: 0.3252 - val_accuracy: 0.8587 - val_loss: 0.3415
Epoch 49/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.8743 - loss: 0.3121 - val_accuracy: 0.8625 - val_loss: 0.3403
Epoch 50/50
560/560 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - accuracy: 0.8699 - loss: 0.3226 - val_accuracy: 0.8596 - val_loss: 0.3408